<div class="about-info">
    <p>
        Books Directory, which is the basic project created using NodeJS and Express.js. Build a book directory or an app with having a collection of books where you can create endpoints using 4 basic methods: GET, PUT, POST, and DELETE. Do check whether NodeJS and MongoDB are installed in prior, modules like nodemon to auto-restart NodeJS, server, body-parser to read & display response in JSON form, and other required modules. Keep index.js as the root file from where you can redirect to other sub-components and files.
    </p>
    <p>Features of Books Directory:</p>
    <ul>
        <li>Management of database using POSTMAN.</li>
        <li>Search bar to search for the required book.</li>
        <li>Side menu option which lists all the authors, genres, etc.</li>
        <li>Ensuring whether proper API calls are made and routes are connected.</li>
    </ul>
    <p>Technologies to use: Nodejs, Express, MongoDB (NoSQL database).</p>
</div>