<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <script src="https://kit.fontawesome.com/94522afa2a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/public/icon/CustomizeBooklogo.jpg" type="image/x-icon" style="border-radius:10px ;">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    
    <!-- Header -->
        <header id="header">
            <nav>
                <div class="">
                    <div class="text-center">
                        <a href="/" class="nav-brand text-dark" title="Book Directory"><span class="bigLetter">B</span>ook <span class="bigLetter">D</span>irectory <span class="bigLetter">S</span>ystem</a>
                    </div>
                </div>
            </nav>
        </header>
    <!-- /Header -->
